.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutBox {
  width: 33rem;
  height: 22rem;
  margin: 2rem;
  text-align: center;
  color: black;
  font-size: 1rem;
}

#aboutContent {
  font-size: 1.75rem;
}

#headIcon {
  font-size: 3rem;
}

#skills {
  font-size: 2rem;
}

.sectionHead {
  font-size: 1.5rem;
  border-bottom: 1px dotted darkslategray;
  padding-bottom: 1rem;
  word-spacing: .5rem;
  font-family: 'Nunito', sans-serif;
  letter-spacing: .25rem;
}

.items {
  word-spacing: .5rem;
  font-family: 'Oswald', sans-serif;
}

#resumeButton {
  padding: 1rem;
  width: 7rem;
  font-size: 1rem;
  word-spacing: .5rem;
}