.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 35rem;
  height: 22rem;
  margin: 10rem;
  text-align: center;
  color: black;
}

.container h1 {
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  letter-spacing: .5rem;
  border-bottom: 2px dotted darkslategray;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.container h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  margin-top: 1rem;
  font-family: 'Oswald', sans-serif;
}

button {
  background-color: none;
  border: .5px dotted black;
  padding: .5rem;
  width: 3.5rem;
  box-shadow: 0 2px 3px darkgray;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: bold;
  color: darkslategray;
}